In [ ]:
!pip install pymysql SQLAlchemy psycopg2==2.8

## Gravar um dataframe na forma de uma tabela no Postgresql

In [ ]:
from sqlalchemy import create_engine
import pandas as pd
pg_url = 'postgresql://alunoidp:alunoidp_2022@db-postgresql-nyc1-35709-do-user-3481063-0.b.db.ondigitalocean.com:25060/defaultdb?sslmode=require'
engine = create_engine(pg_url)

In [ ]:
pop_url = 'https://raw.githubusercontent.com/alexlopespereira/idp_engenhariadados/main/data/originais/populacao/estimativa_dou_2017.csv'
df = pd.read_csv(pop_url, encoding='ISO-8859-1')
df.head()

   uf  cod_uf  cod_munic  cod_ibge              municipio  pop2017
0  RO      11         15   1100015  Alta Floresta D'Oeste    25437
1  RO      11         23   1100023              Ariquemes   107345
2  RO      11         31   1100031                 Cabixi     6224
3  RO      11         49   1100049                 Cacoal    88507
4  RO      11         56   1100056             Cerejeiras    17934

In [ ]:
df.to_sql('populacao', con=engine, if_exists='replace')

## Ler dados de um banco de dados Postgres

In [ ]:
df2 = pd.read_sql_table('populacao', engine)
df2.head()

NameError: ignored

In [ ]:
df3 = pd.read_sql('select * from populacao limit 10', engine)
df3.head()

   index  uf  cod_uf  cod_munic  cod_ibge              municipio  pop2017
0      0  RO      11         15   1100015  Alta Floresta D'Oeste    25437
1      1  RO      11         23   1100023              Ariquemes   107345
2      2  RO      11         31   1100031                 Cabixi     6224
3      3  RO      11         49   1100049                 Cacoal    88507
4      4  RO      11         56   1100056             Cerejeiras    17934

## Ler dados de um banco de dados MySQL

In [ ]:
# pandas read sql
import pymysql
from sqlalchemy import create_engine
engine2 = create_engine('mysql+pymysql://USER:PASSWORD@HOST/DATABASE')
df4 = pd.read_sql_table('table', engine2)

## Ler dados de um banco de dados Bigquery

### Forneça suas credenciais para o ambiente de execução

In [ ]:
from google.colab import auth
auth.authenticate_user()
print('Authenticated')

Authenticated

### Use o BigQuery via magics commands

A biblioteca do bigquery `google.cloud.bigquery` também inclui um magic command que roda uma query e retorna um `DataFrame`. Defina o id do **SEU** projeto na Google Cloud ( [tutorial](https://youtu.be/Uhtj6YRcOhc?t=35) para criar um projeto na Google Cloud). 

**Certifique-se de que está usando o sandbox do Bigquery.**

In [ ]:
# Salva o output numa variavel do tipo dataframe 
# idp-mba é o project id do MEU projeto no GPC
# !!!!!!!!!!
# Defina o id do SEU projeto no bigquery!!!!!!!!!
# !!!!!!!!!!

%%bigquery --project idp-mba df5
select * from `basedosdados.br_ibge_populacao.municipio` limit 10

In [ ]:
df5.head()

    ano sigla_uf id_municipio  populacao
0  1991       RO      1100015      31981
1  1992       RO      1100015      34768
2  1993       RO      1100015      37036
3  1994       RO      1100015      39325
4  1995       RO      1100015      41574

### Use o BigQuery por meio do pandas-gbq

O `pandas-gbq` é uma biblioteca do pandas. Faz operações básicas, como enviar um DataFrame para o BigQuery. Entretanto, por ser uma bilioteca de terceiros (não google)  pode não implementar todas funcionalidades ou casos de uso do BigQuery.

[Pandas GBQ Documentation](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.read_gbq.html)

In [ ]:
import pandas as pd
## Defina o id do seu projeto no bigquery!!!!!
project_id = 'idp-mba' # Defina o id do seu projeto no bigquery!!!!!
## Defina o id do seu projeto no bigquery!!!!!

df = pd.io.gbq.read_gbq('''
  SELECT data_aplicacao, sigla_uf, id_paciente, vacina, dose FROM `basedosdados.br_ms_vacinacao_covid19.microdados_vacinacao` limit 100
''', project_id=project_id)

df.head()

,data_aplicacao,sigla_uf,id_paciente,vacina,dose
0,2021-06-30,AC,f642d4d4bd2d2fe84853df2b288169e7e417ea0af617de...,85,2ª Dose
1,2021-06-20,AC,380b0b765c81caaa9fadec7b905fcacf820467275fa535...,85,1ª Dose
2,2021-08-17,AC,215030aebee9337c3840962716ff3e0574413c2b6361f3...,87,1ª Dose
3,2021-08-11,AC,86f3862b5d029075723a2e7caf63728baa84c9c4e20531...,87,1ª Dose
4,2021-06-26,AC,1739c0d998fb9f76f1bdd518b60411e2e586c0056d481a...,86,1ª Dose

### Gravar dados de um banco de dados no BigQuery

In [ ]:
dataset = 'competenciasgestao'
table = 'populacao'
project_id = 'idp-mba'
df3.to_gbq(f"{dataset}.{table}",
              project_id,
              chunksize=40000,
              if_exists='replace'
              )

1it [00:04,  4.16s/it]

#### Na documentação do Pandas
if_exists, default ‘fail’

    Behavior when the destination table exists. Value can be one of:

    'fail' If table exists raise pandas_gbq.gbq.TableCreationError.
    'replace' If table exists, drop it, recreate it, and insert data.
    'append' If table exists, insert data. Create if does not exist.

### Merge na documentação do Bigquery
[MERGE](https://cloud.google.com/bigquery/docs/reference/standard-sql/dml-syntax#merge_statement)

```
MERGE merge_example.table_data T
USING merge_example.table_changes S
ON T.id = S.id
WHEN MATCHED THEN
  UPDATE SET value = s.value
WHEN NOT MATCHED THEN
  INSERT (id, value) VALUES(id, value)
```

[Em breve](https://github.com/googleapis/python-bigquery-pandas/issues/323) estará disponivel na biblioteca do Pandas. Até lá, use adequadamente os modos 'replace' e 'append' do Pandas.

## Ler dados de um banco de dados no Redshift

In [ ]:
!pip install pandas_redshift

In [ ]:
import pandas_redshift as pr

# O código abaixo não é funcional. Apenas exemplificativo.


# query = "select * from table limit 10"
# pr.connect_to_redshift(dbname=REDESHIFT_DBNAME, host=REDESHIFT_HOST, port=REDESHIFT_PORT, user=REDESHIFT_USER, password=REDESHIFT_PASSWORD)
# df_p = pr.redshift_to_pandas(query)

## Download de Arquivo CSV público do Google Drive usando o Pandas

In [ ]:
url = 'https://drive.google.com/file/d/1ubEivyE9OsWcvV9E5YRcwtd9lI_JBuPz/view?usp=sharing'
path = 'https://drive.google.com/uc?export=download&id='+url.split('/')[-2]
df6 = pd.read_csv(path, sep=";")
df6.head()

         Country Quarter Revenue
0  United States      Q3   198,5
1      Hong Kong      Q3   70,21
2         Canada      Q3   52,74
3         Mexico      Q3   42,36
4  United States      Q4   36,37

## Download de Arquivo Privado (precisa de autenticação) do Google Drive

1.  Habilite a API do Google Drive para o SEU projeto. Por meio deste [link](https://console.cloud.google.com/apis/api/drive.googleapis.com)
2.  Faça o download de uma chave de uma service account da GCP.
3.  Faça o upload na pasta local do Colab ou no seu Google Drive (cuidado com quem vai compartilhar a chave)
4.  Compartilhe o arquivo com esta conta (Service Account)
5.  Gere o link que compartilhamento e retire desta URL o ID do arquivo que quer baixar
6.  Use a função a seguir disponibilizada pelo professor

In [ ]:
from googleapiclient.http import MediaIoBaseDownload
from google.oauth2 import service_account
from googleapiclient.discovery import build
import io

def download_google_drive(dest_path, file_id, service_account_file_path):
    creds = service_account.Credentials.from_service_account_file(service_account_file_path)
    service = build('drive', 'v3', credentials=creds)
    request = service.files().get_media(fileId=file_id)
    fh = io.FileIO(dest_path, mode='wb')
    downloader = MediaIoBaseDownload(fh, request)
    done = False
    while done is False:
        status, done = downloader.next_chunk()
    return done

In [ ]:
download_google_drive("./image.png", "1ksfmAddEZN8TrDzCqCPJwyn8QMD3MZcH", "./key.json")

True

## Download dos dados de um Google Sheet para um dataframe

In [ ]:
sheet_id = "10lzf_qGsvZD5HvzV98S1a0hgUGTbYSuo0LZ9YTx6LA4"
sheet_name ="revenue"
url = f"https://docs.google.com/spreadsheets/d/{sheet_id}/gviz/tq?tqx=out:csv&sheet={sheet_name}"
df7 = pd.read_csv(url)
df7.head()

         Country Quarter  Year  Revenue
0  United States      Q3  2017   198.50
1      Hong Kong      Q3  2017    70.21
2         Canada      Q3  2017    52.74
3         Mexico      Q3  2017    42.36
4  United States      Q4  2017    36.37

In [ ]:
print(url)

https://docs.google.com/spreadsheets/d/10lzf_qGsvZD5HvzV98S1a0hgUGTbYSuo0LZ9YTx6LA4/gviz/tq?tqx=out:csv&sheet=revenue